.image {
  background-size: cover;
  background-position: center center;
  padding-bottom: 56%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
