.content {
  padding-top: 112px;
}

.h1 {
  font-size: 18px;
  color: #e72727;
  margin-top: 18px;
  margin-bottom: 9px;
}

.home_block_header {
  margin-top: 3.5px;
}

.strong {
  color: #444;
  font-size: 115%;
}

@media (min-width: 768px) {
  .content {
    padding-top: 193px;
  }
}
